body {
  background-color: #e1e388;
}

.field {
  display: flex;
  padding: 10px;
  width: 25%;
  margin-left: 37.5%;
  color: #fff;
  font-size: 1.3em;
  flex-direction: column;
  align-items: center;
}

.box {
  border: 2px solid #aaa719;
  background-color: #d4d37f;
  margin: 10px 0 20px 0;
  padding: 10px;
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.box:last-child {
  margin-bottom: 0;
}

button.btn {
  margin-right: 10px;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
  font-size: 0.65em;
  color: #fff;
  outline: none;
}

.btn.light {
  background-color: #4eafc9;
  border: 2px solid #2a89a2;
}

.btn.red {
  background-color: #dda66d;
  border: 2px solid #b6821a;
}

.btn.success {
  background-color: #5eb922;
  border-color: #aaa719;
}

.btn.new {
  background-color: purple;
  border-color: rebeccapurple;
}

.btn.light:hover {
  background-color: #2a89a2;
  border-color: #1d6f85;
}

.btn.red:hover {
  background-color: #b6821a;
  border-color: #946912;
}

.btn.success:hover {
  background-color: #aaa719;
  border-color: #5eb922;
}

textarea {
  width: 100%; height: 5vh;
}